<body th:fragment="content">
<h3>Chỉnh sửa bàn Bi-a</h3>
<div class="text-success"><hr></div>

<form class="row g-3 needs-validation" novalidate 
      th:action="@{'/admin/table/edit/' + ${table.id}}" 
      method="POST" 
      enctype="multipart/form-data">
    
    <div class="col-md-4">
        <label for="name" class="form-label">Tên Bàn</label>
        <input type="text" class="form-control" id="name" name="name" 
               th:value="${table.name}" required>
        <div class="invalid-feedback">Vui lòng nhập tên bàn!</div>
    </div>

    <div class="col-md-4">
        <label for="imageFile" class="form-label">Ảnh Bàn</label>
        <input type="file" class="form-control" id="imageFile" name="imageFile">
        <img th:if="${table.image}" th:src="${table.image}" 
             alt="Current image" style="width: 100px; margin-top: 10px;">
    </div>

    <div class="col-md-4">
        <label for="status" class="form-label">Trạng Thái</label>
        <select name="status" class="form-select" id="status" required>
            <option th:each="status : ${statusList}" 
                    th:value="${status}"
                    th:text="${statusMap[status.name()]}"
                    th:selected="${status == table.status}">
            </option>
        </select>
    </div>

    <div class="col-12">
        <div class="col-md-4 form-check">
            <input type="radio" value="false" class="form-check-input" 
                   id="normalTable" name="vip" th:checked="${!table.vip}">
            <label class="form-check-label" for="normalTable">Bàn Thường</label>
        </div>
        <div class="form-check col-md-4">
            <input type="radio" value="true" class="form-check-input" 
                   id="vipTable" name="vip" th:checked="${table.vip}">
            <label class="form-check-label" for="vipTable">Bàn Vip</label>
        </div>
    </div>

    <div class="col-md-4">
        <label for="category" class="form-label">Loại</label>
        <select name="categoryTable" class="form-select" id="category" required>
            <option th:each="category : ${categoryList}"
                    th:value="${category}"
                    th:text="${categoryMap[category.name()]}"
                    th:selected="${category == table.categoryTable}">
            </option>
        </select>
    </div>

    <div class="col-md-4">
        <label for="hourlyRate" class="form-label">Giá Theo Giờ</label>
        <input type="number" class="form-control" id="hourlyRate" 
               name="hourlyRate" step="0.01" min="0" 
               th:value="${table.hourlyRate}" required>
    </div>

    <div class="col-md-4">
        <label for="store" class="form-label">Cửa hàng</label>
        <select name="store" class="form-select" id="store" required>
            <option th:each="store : ${stores}" th:value="${store.id}" th:text="${store.name}"
                    th:selected="${store.id == table.store.id}"></option>
        </select>
        <div class="invalid-feedback">Vui lòng chọn cửa hàng!</div>
    </div>
    <div class="col-12">
        <a href="/admin/table" class="btn btn-secondary me-2">
            <i class="bi bi-arrow-left-circle"></i> Quay lại
        </a>
        <button class="btn btn-primary" type="submit">Cập nhật</button>
    </div>
</form>
</body> 