<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng nhập</title>
</head>
<body>
    
    <div th:replace="~{header}"></div>

    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1 class="text-center">Đăng Nhập</h1>
                </div>
            </div>
        </div> 
    </header>
    
    
    <div class="ex-form-1 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3">
                    <div class="text-box mt-5 mb-5">
                        <p class="mb-4">Bạn không có tài khoản? Vậy thì hãy <a class="blue" href="register">Đăng ký</a></p>
                        <form action="login" method="post">
                            <div class="mb-4 form-floating">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username" autocomplete="username">
                                <label for="floatingInput">Tên tài khoản</label>
                            </div>
                            <div class="mb-4 form-floating">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" autocomplete="current-password">
                                <label for="floatingPassword">Mật khẩu</label>
                            </div>
                            <button type="submit" class="form-control-submit-button">Đăng nhập</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
</body>
</html>
